# Exclude files from being compiled in distribution file
# https://git-scm.com/docs/gitattributes#_creating_an_archive
/_scripts export-ignore
.travis.yml export-ignore
/.github export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore

# Exclude files from GitHub's language statistics
# https://github.com/github/linguist#using-gitattributes

/_scripts linguist-vendored
.travis.yml linguist-vendored
/composer.json linguist-vendored
